body{
	margin: 0px;
	padding: 0px;
}

.debug_block{
	margin: 10px;
	padding: 10px;
	border: solid 1px #AAA;
	background: #EEE;
	word-wrap: break-word;
}

#errors_wrapper{
	display: none;
	margin: 10px;
	padding: 10px;
	border: solid 1px #AAA;
	background: #EEE;
}

.form_wrapper{
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgb(255,255,255);
	width: 100%;
}

.form_wrapper form{
	position:relative;
	z-index: 2;
}



.op{
	background: #EEE;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE 5-7 */
	filter: alpha(opacity=80);
	/* Netscape */
	-moz-opacity: 0.8;
	/* Safari 1.x */
	-khtml-opacity: 0.8;
	/* Good browsers */
	opacity: 0.8;
}

.form_wrapper_bg{
	

}

.form_wrapper h2{
	margin-top: 0;
}
.form_wrapper{
	position: absolute;
	z-index: 1;
	width: 315px;
	left: 50%;
	top: 100px;
	background: #EEE;
	padding: 20px;
	border-radius: 10px;
	border: solid 11px #CCC;
	margin: 0 0 0 -200px;
}

.popup_wrapper{
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.form_wrapper label.error{
	color: red;
	font-size: 12px;
	display: block;
	padding: 0 0 0 7px;
}

dl {

}
 
dl dt {
	float:left;
	width: 135px;
}
 
dl dd {
	margin: 0 0 0 130px;
}

.close_modal_button{
	float: right;
	margin: -15px -15px 0 0;
}

.submit_button{
	float: right;
}

#top_menu > ul *{
	color: #fff;
}

#top_menu{
	margin: 0 0 20px 0;
	padding: 15px;
	list-style: none;
	background: #444;
	color: white;
}
#top_menu > ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
#top_menu > ul > li{
	display: inline-block;
	margin-right: 10px;
}

#facebook_login_existing_button{
	display:none;
}

#auth_form_wrapper ul.tabs{
	list-style: none;
	margin: 0 0 -1px 0;
	padding: 0;
}

#auth_form_wrapper ul.tabs li.tab{
	display: inline-block;
	padding: 5px 20px;
	background: #DDD;
	border: solid 1px #999;
	text-align: center;
	cursor: pointer;
}

#auth_form_wrapper ul.tabs li.tab.selected{
	display: inline-block;
	background: #FFF;
	border: solid 1px #999;
	border-bottom:  solid 1px #FFF;
}

#auth_form_wrapper ul.tabs{
	
}


#login_form_wrapper, #register_form_wrapper{
	background: white;
	border: solid 1px #999;
}


#top_menu ul li a{
	cursor: pointer;
	text-decoration: underline;
}

#auth_buttons{
	
}	

.spacer{
	display: inline-block;
}

#wait_facebook{
	display: none;
}